.body {
  background-color: var(--white-color);

  .page {
    text-rendering: optimizeLegibility;
    background-color: inherit;
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-width: 1920px;
    color: #000000;

    .main {
      height: 100vh;
    }
  }
}
