.icon-button {
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}