.profile__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray-color);
  padding: 18px;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 510px;
  margin: 0 auto;

  .profile__settings {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .profile__settings-fields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--dark-gray-color);
      width: 100%;

      .profile__settings-field {
        margin: 0;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
      }
    }

    /* При применении ошибки */
    .profile__settings-fields.error {
      border-bottom: 1px solid var(--error-color);
    }
  }
}
