{{#> AuthContainer}}
    {{#> FormWrapper class="form__wrapper--full-height"}}
      <h1 class="form__title">Регистрация</h1>
      {{#> Form id="register-form"}}
        {{!-- Не работает с type email --}}
          {{> Input id="email" type="email" name='email' label="Почта" required="true"}}
          {{> Input id="login" type="text" name='login' label="Логин" required="true"}}
          {{> Input id="first_name" type="text" name='first_name' label="Имя" required="true"}}
          {{> Input id="second_name" type="text" name='second_name' label="Фамилия" required="true"}}
          {{> Input id="phone" type="tel" name='phone' label="Телефон" required="true"}}
          {{> Input id="password" type="password" name="password" label="Пароль" required="true"}}
          {{> Input id="password-repeat" type="password" name="password-repeat" label="Пароль (ещё раз)" required="true" helperText="Пароли не совпадают"}}
      {{/Form}}
      {{#> Spacer}}{{/Spacer}}
      <div class="button__group">
          {{> Button class=button.class type=button.type form=button.form text=button.text id=button.id}}
          {{> Link id=link.id href=link.href linkText=link.linkText}}
      </div>
    {{/FormWrapper}}
{{/AuthContainer}}