<div class="container container__chats">
  <div class="chats">
    <div class="chat__header">
      {{{ProfileLink}}}
      {{{ChatInput}}}
    </div>
    <div class="chat__list">
      {{#each lists.dialogs}}
        {{{this}}}
      {{/each}}
    </div>
  </div>
  <div class="container container__selected-chat">
    {{{ChatSelectedDialog}}}
  </div>
</div>