.button__group {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--purple-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  max-width: 280px;
  width: 100%;
  outline: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
}

.button__type-round {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--purple-color);
  width: 28px;
  height: 28px;
  color: var(--white-color);
  border: none;
  outline: none;
}
