{{#> ErrorContainer}} 
        <h2 class="error__title">{{this.errorTitle}}</h2>
        <h3 class="error__description">{{this.errorDescription}}</h3>
        {{> Link class=this.class id=this.id href=this.href linkText=this.linkText}}
{{/ErrorContainer}}